<a href="https://colab.research.google.com/github/seerat-03/First-Project/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [7]:
L=[11,12,13,14]
print(L)
L.append(50)
print(L)
L.append(60)
print(L)

[11, 12, 13, 14]
[11, 12, 13, 14, 50]
[11, 12, 13, 14, 50, 60]

In [9]:
L=[11,12,13,14]
print(L)
L.remove(11)
print(L)
L.remove(13)
print(L)

[11, 12, 13, 14]
[12, 13, 14]
[12, 14]

In [11]:
L=[11,12,13,14]
print(L)
L.sort(reverse=True)
print(L)

[11, 12, 13, 14]
[14, 13, 12, 11]

In [12]:
L=[11,12,13,14]
print(L)
if(13 in L)==True:
  print("present")
else:
  print("not present")

[11, 12, 13, 14]
present

In [16]:
L=[11,12,13,14]
print(L)
a= len(L)
print(a)

[11, 12, 13, 14]
4

In [18]:
L=[11,12,13,14]
print(L)
a=sum(L)
print("sum=",a)

[11, 12, 13, 14]
sum= 50

In [24]:
L=[11,12,13,14]
print(L)
sum=0
for n in L:
  if (n%2!=0):
    sum=sum+n
print("sum of odd numbers=",sum)

[11, 12, 13, 14]
sum of odd numbers= 24

In [25]:
L=[11,12,13,14]
print(L)
sum=0
for n in L:
  if (n%2==0):
    sum=sum+n
print("sum of even numbers=",sum)

[11, 12, 13, 14]
sum of even numbers= 26

In [28]:
L = [11, 12, 13, 14]
total = 0
for num in L:
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            total += num
print("Sum of prime numbers:", total)

Sum of prime numbers: 24

In [29]:
L=[11,12,13,14]
print(L)
L.clear()
print(L)

[11, 12, 13, 14]
[]

In [37]:
L=[11,12,13,14]
print(L)
del L
print(L)

[11, 12, 13, 14]

NameError: name 'L' is not defined

Dictionary

In [42]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [43]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [46]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(D)
if(6 in D)==True:
  print("present")
else:
  print("not present")

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
not present

In [48]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(D)
a=len(D)
print(a)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
5

In [53]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(D)
total = sum(D.values())
print("Sum of all values:", total)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

TypeError: 'int' object is not callable

In [50]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(D)
D[3]=7.1
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [54]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(D)
D.clear()
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
{}

Set operations

In [58]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
S1.add(55)
print(S1)
S1.add(66)
print(S1)

{50, 20, 55, 40, 10, 60, 30}

In [59]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
S1.remove(10)
print(S1)
S1.remove(30)
print(S1)

{50, 20, 40, 60, 30}
{50, 20, 40, 60}

In [60]:
S1= {10, 20, 30, 40, 50, 60}
print(S1)
if(40 in S1)==True:
  print("present")
else:
  print("not present")

{50, 20, 40, 10, 60, 30}
present

In [61]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
a=S1.union(S2)
print(a)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [62]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
a=S1.intersection(S2)
print(a)

{40, 50, 60}

In [63]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
a=S1.difference(S2)
print(a)

{10, 20, 30}

Q4. Write the following program.
(i)
WAP to print 100 random strings whose length between 6 and 8.
(ii)
WAP to print all prime numbers between 600 and 800.
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [1]:
import random as r
import string as s
print("Strings are--->",s.ascii_letters)
a=s.ascii_letters
for i in range (1,101):
  j=r.sample(a,6)
  d=r.sample(a,8)
  k=''.join(j)
  l=''.join(d)
  print(k)
  print(l)

Strings are---> abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
UhJKMx
vYdomrTZ
XDwoSl
tpVSWgRy
ZeBrJg
oDVXzPuH
fbZYvc
REuKzvJF
bGnzLS
UTkZntaJ
QxvAtV
XAyOfzHZ
tURycI
KNLViCMq
KTrCfP
oDvZgGBM
Tahwtx
dsMviBwo
NKCQOB
FLkvQNwB
eqBLgA
gEtOlebw
pkLFrK
iWfQgBDm
teGmrz
nkfFTAuK
GiUqkd
xFzUHfBc
UAxXzu
oHqIJkea
OPAoJk
DRTabOMB
jZpVTn
EmSOsWtA
kGbWDs
bIGpFYoK
GuZEIw
NtudrnYK
IZgJfu
AJjBbakV
FfcSiH
zqpNHbko
UKDaYl
AQaSJLnV
RymDwI
DXcyRHjN
lMZxNS
HGvcJQZj
SmqlIK
gJCxWXru
qmBoSA
yxaBZmkl
BrmoAl
XxcRGSap
amKOxG
oGOuvgxt
NkEtRr
ogYVmAvM
KgMaFG
MrwGplUy
wXAThy
WkTMJrDV
tXfBvZ
qxdUKWsc
gPpSyB
ASgLOnjh
kxrsPf
lFdsmXGJ
lhdsbT
skzCNmDK
lLczXd
XOsCxfIW
MDeHLZ
VsghLBal
IuEmoW
vkiexpdl
tJWmCU
DlidESZW
LYiMen
vdSruApg
rjwVGi
aeZTVIcf
LeSnHz
DYCxohHj
SvgOZB
rkzsqQuX
XsQBwT
oPyzaRGN
scYemM
fRuYeQtq
fpwXnq
BJqiHwTl
bCtInA
rIFvKLfP
hBujsD
rFysvCUA
utbyCR
OXhEpaJP
bqMUPo
bzCLxXyN
TDNgKc
motjIHGy
ckVdTW
lCqbtdfD
OeNuov
UqCvjiLQ
cbBtxg
zwenWdiJ
mCTRfK
RDkBTvre
wNeSjp
selRUYjB
SpAdgX
VvcwkeHq
WPptAZ
qDkpOeni
qeaCbm
PVRqMiOA
brkWVp
WmyLBEXj
WocQBd
zxQblyYq
fzqTJW
WrcvuFYR
AEesuP
tKosFLJc
dXwLWi
VNjXxTFs
wKpOWr
cvdGtlWL
vfKpGw
ySNLnGOx
TDsLAB
zuNoysEr
WLNaie
XKHJwFZL
xnVokF
dCYuySLP
LNbZnX
HFMpnZOV
EfVRKc
cqgGLFIu
IbJOZt
JSIDXWGR
doevNw
kQEroLjZ
rWkgwK
slORpTvU
PmCXVY
dGpxTWmC
hFKejs
YxlwHXGd
ZvwAVB
LnBXrSoC
GBpOfg
rVfeWTPM
NHAmqi
HOabNiVE
XcZakO
gXLChHks
gnuOEf
xoJLIGCf
hzYvdR
vDwMuiWY
TJyoFm
woZeTlHs
WLERMT
qNlLJmoA
tKgrpE
eaFLYDPn
tIrFqK
dvwIkMTE
RWjyZa
vtchVzui
QbUFng
HUJMtwih
CpKIuj
EskDewdZ
zvWdap
mFANpXkM
NTIQjX
wndjGZyi
YroIJw
LKOFClbE
mnhPVj
SkrPwoYj
kgEDmY
TmCrqwhB
PUneZW
rvntaKpJ
frStzs
EmqyZXRV
HLVhag
TLkIySeO
zlMabo
EofkdxAe
dmthjD
qkaoDXbH
ZSNmkU
WxwLJEDG

In [70]:
for num in range(600, 801):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [71]:
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

# Q5 WAP to create two lists of 10 random numbers between 10 and 30; Find  
(i)
Common numbers in the two lists
(ii)
Unique numbers in both the list
(iii) Minimum in both the list
(iv) Maximum in both the list
(v)
Sum of both the lists

In [8]:
import random
l1=[random.randint(10,30) for _ in range(10)]
l2=[random.randint(10,30) for _ in range(10)]
print("list 1=",l1)
print("list 2=",l2)
c = list(set(l1) & set(l2))
print("Common numbers:", c)

list 1= [18, 11, 23, 23, 19, 13, 27, 24, 28, 29]
list 2= [24, 13, 25, 27, 20, 29, 29, 17, 28, 18]
Common numbers: [13, 18, 24, 27, 28, 29]

In [9]:
import random
l1=[random.randint(10,30) for _ in range(10)]
l2=[random.randint(10,30) for _ in range(10)]
print("list 1=",l1)
print("list 2=",l2)
u = list(set(l1) ^ set(l2))
print("Unique numbers in both lists:", u)

list 1= [17, 24, 14, 11, 20, 16, 25, 13, 12, 15]
list 2= [16, 27, 18, 27, 29, 28, 21, 19, 23, 10]
Unique numbers in both lists: [10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29]

In [10]:
import random
l1=[random.randint(10,30) for _ in range(10)]
l2=[random.randint(10,30) for _ in range(10)]
print("list 1=",l1)
print("list 2=",l2)
print("Minimum in List 1:", min(l1))
print("Minimum in List 2:", min(l2))

list 1= [24, 20, 30, 15, 24, 17, 14, 17, 23, 22]
list 2= [27, 10, 28, 21, 27, 29, 17, 21, 21, 22]
Minimum in List 1: 14
Minimum in List 2: 10

In [12]:
import random
l1=[random.randint(10,30) for _ in range(10)]
l2=[random.randint(10,30) for _ in range(10)]
print("list 1=",l1)
print("list 2=",l2)
print("Maximum in List 1:", max(l1))
print("Maximum in List 2:", max(l2))

list 1= [19, 23, 12, 23, 19, 11, 12, 29, 18, 17]
list 2= [25, 20, 18, 15, 17, 13, 25, 24, 27, 30]
Maximum in List 1: 29
Maximum in List 2: 30

In [13]:
import random
l1=[random.randint(10,30) for _ in range(10)]
l2=[random.randint(10,30) for _ in range(10)]
print("list 1=",l1)
print("list 2=",l2)
print("Sum of List 1:", sum(l1))
print("Sum of List 2:", sum(l2))

list 1= [13, 20, 18, 12, 14, 27, 21, 22, 20, 15]
list 2= [20, 19, 10, 15, 30, 21, 10, 23, 29, 11]
Sum of List 1: 182
Sum of List 2: 188

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:  
 (i) All odd number
(ii)
All even numbers
(iii) All prime numbers

In [14]:
import random
l1=[random.randint(100,901) for _ in range(10)]
odd_numbers = [num for num in l1 if num % 2 != 0]
print("Total odd numbers:", len(odd_numbers))

Total odd numbers: 6

In [16]:
import random
l1=[random.randint(100,901) for _ in range(10)]
even_numbers = [num for num in l1 if num % 2 == 0]
print("Total even numbers:", len(even_numbers))

Total even numbers: 4

In [19]:
import random
l1=[random.randint(100,901) for _ in range(10)]
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True
prime_numbers = [num for num in l1 if is_prime(num)]
print("Total prime numbers:", len(prime_numbers))

Total prime numbers: 3

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.  
WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [21]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
f = open("dictionary_output.txt", "w")
for k in D:
    line = str(k) + ", " + D[k] + "\n"
    f.write(line)
f.close()
print("Data written to file using alternate method.")

Data written to file using alternate method.

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4

In [22]:
L = ["One", "Two", "Three", "Four", "Five"]
f = open("list_lengths.txt", "w")
for word in L:
    f.write(word + ", " + str(len(word)) + "\n")
f.close()
print("Done writing to file.")

Done writing to file.

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [24]:
import random
import string
f = open("abc.txt", "w")
for i in range(100):
    n = random.randint(10, 15)
    s = ""
    for j in range(n):
        s += random.choice(string.ascii_letters)
    f.write(s + "\n")
f.close()
print("Done writing 100 random strings.")

Done writing 100 random strings.

Q10. Write to the file all prime numbers between 600 and 800

In [25]:
f = open("abc.txt", "w")
for num in range(600, 801):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        f.write(str(num) + "\n")
f.close()
print("Prime numbers written to file.")

Prime numbers written to file.

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student  
having maximum and minimum average marks.

In [28]:
marks = {
    "Aman": [78, 85, 92, 70, 88],
    "Priya": [65, 70, 60, 75, 68],
    "Rahul": [90, 92, 94, 91, 93],
    "Seema": [55, 60, 58, 57, 62]
}
averages = {}
for name in marks:
    avg = sum(marks[name]) / 5
    averages[name] = avg
max_student = max(averages, key=averages.get)
min_student = min(averages, key=averages.get)
print("Student with maximum average:", max_student, "->", averages[max_student])
print("Student with minimum average:", min_student, "->", averages[min_student])

Student with maximum average: Rahul -> 92.0
Student with minimum average: Seema -> 58.4